In [2]:
import pandas as pd
import os

In [22]:
demand = pd.read_csv('{}/nem-data/demand.csv'.format(os.environ['HOME']), index_col=-1, parse_dates=True)
demand.drop(columns=["SETTLEMENTDATE", "I"], inplace=True)
demand.head()

                     TOTALDEMAND  AVAILABLEGENERATION  INTERVENTION
start-of-interval
2009-07-01 00:00:00      1591.33             2985.610           0.0
2009-07-01 00:05:00      1589.66             3004.164           0.0
2009-07-01 00:10:00      1609.87             3012.470           0.0
2009-07-01 00:15:00      1594.49             3003.234           0.0
2009-07-01 00:20:00      1582.01             2987.409           0.0

In [20]:
demand.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1110664 entries, 2009-07-01 00:00:00 to 2019-08-31 23:55:00
Data columns (total 5 columns):
I                      1110664 non-null object
SETTLEMENTDATE         1110664 non-null object
TOTALDEMAND            1110664 non-null float64
AVAILABLEGENERATION    1110664 non-null float64
INTERVENTION           1110664 non-null float64
dtypes: float64(3), object(2)
memory usage: 50.8+ MB

In [21]:
print(demand.index.min())
print(demand.index.max())

2009-07-01 00:00:00
2019-08-31 23:55:00