In [1]:
import pandas as pd
import numpy as np
import os
import datetime as dt

In [2]:
import pandas as pd
import os

df_grouped_price = pd.read_pickle('{}/nem-data/nemde_clean/df_grouped_price.pkl'.format(os.environ['HOME']))
df_grouped_price = df_grouped_price.reset_index()
df_grouped_price.head(20)

              PeriodID     Price
0  2018-07-31 23:55:00  70.70204
1  2018-07-31 23:50:00  69.24109
2  2018-07-31 23:45:00  69.94850
3  2018-07-31 23:40:00  74.04497
4  2018-07-31 23:35:00  76.44245
5  2018-07-31 23:30:00  72.13931
6  2018-07-31 23:25:00  52.82719
7  2018-07-31 23:20:00  45.83206
8  2018-07-31 23:15:00  47.00597
9  2018-07-31 23:10:00  50.88122
10 2018-07-31 23:05:00  51.56545
11 2018-07-31 23:00:00  51.05147
12 2018-07-31 22:55:00  69.02186
13 2018-07-31 22:50:00  78.69000
14 2018-07-31 22:45:00  78.69000
15 2018-07-31 22:40:00  75.36337
16 2018-07-31 22:35:00  78.69000
17 2018-07-31 22:30:00  78.69000
18 2018-07-31 22:25:00  78.69000
19 2018-07-31 22:20:00  79.30359

In [5]:
e = df_grouped_price.PeriodID[3] - df_grouped_price.PeriodID[4]
e.total_seconds()

300.0

In [5]:
df_grouped_price.isna().any()

PeriodID    False
Price       False
dtype: bool

In [3]:
df_grouped_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 946847 entries, 0 to 946846
Data columns (total 2 columns):
PeriodID    946847 non-null datetime64[ns]
Price       946847 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 14.4 MB

In [90]:
print(df_grouped_price.PeriodID.max())
print(df_grouped_price.PeriodID.min())

2018-07-31 23:55:00
2009-07-01 04:00:00

In [91]:
df_trading_price = pd.read_csv('/home/bastian/nem-data/clean/trading_price.csv', index_col=0, parse_dates=True)
df_trading_price.sort_index(ascending=False, inplace=True)
df_trading_price = df_trading_price.loc[:, ["RRP SA1"]]
df_trading_price = df_trading_price[(df_trading_price.index <= df_grouped_price.PeriodID.max()) &
                                   (df_trading_price.index >= df_grouped_price.PeriodID.min())]
df_trading_price = df_trading_price.reset_index()
df_trading_price = df_trading_price.rename(columns={"tempus_interval_time":"PeriodID","RRP SA1":"Trading_price"})

df_trading_price.head()

             PeriodID  Trading_price
0 2018-07-31 23:30:00          72.09
1 2018-07-31 23:00:00          49.86
2 2018-07-31 22:30:00          76.52
3 2018-07-31 22:00:00          81.66
4 2018-07-31 21:30:00          83.25

In [92]:
print(len(df_trading_price))
print(df_trading_price.PeriodID.max())
print(df_trading_price.PeriodID.min())

159256
2018-07-31 23:30:00
2009-07-01 04:00:00

In [93]:
df_trading_dispatch = df_grouped_price.merge(df_trading_price, how='left', on="PeriodID")
df_trading_dispatch = df_trading_dispatch.rename(columns={"Price":"Dispatch_price","RRP SA1":"Trading_price"})
df_trading_dispatch.head(20)
print(sum(df_trading_dispatch.Trading_price.isna()))
df_trading_dispatch.head()
#df_trading_dispatch = df_trading_dispatch[]

789043

             PeriodID  Dispatch_price  Trading_price
0 2018-07-31 23:55:00        70.70204            NaN
1 2018-07-31 23:50:00        69.24109            NaN
2 2018-07-31 23:45:00        69.94850            NaN
3 2018-07-31 23:40:00        74.04497            NaN
4 2018-07-31 23:35:00        76.44245            NaN

In [94]:
df_trading_price_corr = df_trading_dispatch[~df_trading_dispatch.Trading_price.isna()].drop(columns="Dispatch_price").reset_index(drop=True)
df_trading_price_corr.iloc[28863:28865]

                 PeriodID  Trading_price
28863 2016-11-07 16:00:00          23.93
28864 2016-11-07 15:00:00          36.55

In [2]:
df_grouped_price = pd.read_pickle('{}/nem-data/nemde_clean/df_grouped_price.pkl'.format(os.environ['HOME']))
df_grouped_price.head()

                        Price
PeriodID
2018-07-31 23:55:00  70.70204
2018-07-31 23:50:00  69.24109
2018-07-31 23:45:00  69.94850
2018-07-31 23:40:00  74.04497
2018-07-31 23:35:00  76.44245

In [59]:
df_grouped_price.set_index(df_grouped_price.iloc[:, 0], inplace=True)
df_grouped_price.drop(df_grouped_price.iloc[:, [0]], inplace=True, axdf_grouped_price
df_grouped_price

                        Price
PeriodID
2018-07-31 23:55:00  70.70204
2018-07-31 23:50:00  69.24109
2018-07-31 23:45:00  69.94850
2018-07-31 23:40:00  74.04497
2018-07-31 23:35:00  76.44245
...                       ...
2009-07-01 04:20:00   1.75480
2009-07-01 04:15:00   1.44014
2009-07-01 04:10:00  -0.00006
2009-07-01 04:05:00  -0.00006
2009-07-01 04:00:00   1.35918

[946847 rows x 1 columns]

In [10]:
df_grouped_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 946847 entries, 0 to 946846
Data columns (total 2 columns):
PeriodID    946847 non-null datetime64[ns]
Price       946847 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 14.4 MB

In [5]:
def correct_timedelta(df, time_diff):
    '''
    df.index must be DateTimeIndex
    table=table_of_interest
    col="column_of_interest"
    time_diff=time_diff in seconds as int
    '''
    lst = []
    lst_i = []
    count = 0
    for i in df.index:
        count += 1
        if count >= len(df):
            break
        delta = abs(df.index[count] - df.index[count-1])
        if int(delta.total_seconds()) != int(time_diff):
            lst.append(("from index {} on, it has been {} s or {} h.".format(count-1,int(delta.total_seconds()),(int(delta.total_seconds()/3600)))))
            lst_i.append((count-1,int(delta.total_seconds())))
    return lst, lst_i

In [6]:
check, tuples = correct_timedelta(df_grouped_price, 300)

In [7]:
tuples

[(8879, 2592300),
 (23741, 600),
 (28750, 600),
 (75753, 600),
 (76916, 600),
 (173184, 600),
 (179819, 600),
 (179831, 600),
 (179849, 600),
 (179852, 600),
 (179858, 600),
 (179870, 600),
 (179873, 1200),
 (179892, 600),
 (190312, 600),
 (190316, 600),
 (190362, 600),
 (196113, 600),
 (196404, 900),
 (196405, 600),
 (197229, 600),
 (197232, 600),
 (197266, 600),
 (201290, 600),
 (239428, 600),
 (256441, 600),
 (490105, 600),
 (515339, 1500),
 (793820, 600),
 (794497, 600),
 (818962, 600),
 (868534, 600),
 (887404, 600),
 (925535, 600),
 (925538, 600),
 (928129, 600),
 (928146, 600),
 (928152, 600),
 (928416, 600),
 (928418, 600),
 (928697, 600),
 (932580, 600),
 (933317, 600),
 (933323, 600)]

In [18]:
df_grouped_price.iloc[23741:23745,:]

                         Price
PeriodID
2018-04-10 13:30:00   98.21833
2018-04-10 13:20:00  105.00002
2018-04-10 13:15:00  105.00002
2018-04-10 13:10:00   96.74449

In [16]:
check

['from index 8879 on, it has been 2592300 s or 720 h.',
 'from index 23741 on, it has been 600 s or 0 h.',
 'from index 28750 on, it has been 600 s or 0 h.',
 'from index 75753 on, it has been 600 s or 0 h.',
 'from index 76916 on, it has been 600 s or 0 h.',
 'from index 173184 on, it has been 600 s or 0 h.',
 'from index 179819 on, it has been 600 s or 0 h.',
 'from index 179831 on, it has been 600 s or 0 h.',
 'from index 179849 on, it has been 600 s or 0 h.',
 'from index 179852 on, it has been 600 s or 0 h.',
 'from index 179858 on, it has been 600 s or 0 h.',
 'from index 179870 on, it has been 600 s or 0 h.',
 'from index 179873 on, it has been 1200 s or 0 h.',
 'from index 179892 on, it has been 600 s or 0 h.',
 'from index 190312 on, it has been 600 s or 0 h.',
 'from index 190316 on, it has been 600 s or 0 h.',
 'from index 190362 on, it has been 600 s or 0 h.',
 'from index 196113 on, it has been 600 s or 0 h.',
 'from index 196404 on, it has been 900 s or 0 h.',
 'from index 196405 on, it has been 600 s or 0 h.',
 'from index 197229 on, it has been 600 s or 0 h.',
 'from index 197232 on, it has been 600 s or 0 h.',
 'from index 197266 on, it has been 600 s or 0 h.',
 'from index 201290 on, it has been 600 s or 0 h.',
 'from index 239428 on, it has been 600 s or 0 h.',
 'from index 256441 on, it has been 600 s or 0 h.',
 'from index 490105 on, it has been 600 s or 0 h.',
 'from index 515339 on, it has been 1500 s or 0 h.',
 'from index 793820 on, it has been 600 s or 0 h.',
 'from index 794497 on, it has been 600 s or 0 h.',
 'from index 818962 on, it has been 600 s or 0 h.',
 'from index 868534 on, it has been 600 s or 0 h.',
 'from index 887404 on, it has been 600 s or 0 h.',
 'from index 925535 on, it has been 600 s or 0 h.',
 'from index 925538 on, it has been 600 s or 0 h.',
 'from index 928129 on, it has been 600 s or 0 h.',
 'from index 928146 on, it has been 600 s or 0 h.',
 'from index 928152 on, it has been 600 s or 0 h.',
 'from index 928416 on, it has been 600 s or 0 h.',
 'from index 928418 on, it has been 600 s or 0 h.',
 'from index 928697 on, it has been 600 s or 0 h.',
 'from index 932580 on, it has been 600 s or 0 h.',
 'from index 933317 on, it has been 600 s or 0 h.',
 'from index 933323 on, it has been 600 s or 0 h.']

In [12]:
check, indices = correct_timedelta(df_trading_price_corr,"PeriodID",1800)

In [13]:
print(indices)
check

[(1479, 2593800), (28863, 3600), (29968, 3600), (29973, 3600), (29976, 3600), (32732, 3600), (32875, 3600), (42737, 3600), (85886, 3600), (144752, 3600), (154733, 3600), (155426, 3600), (155548, 3600)]

['from index 1479 on, it has been 2593800 s or 720 h.',
 'from index 28863 on, it has been 3600 s or 1 h.',
 'from index 29968 on, it has been 3600 s or 1 h.',
 'from index 29973 on, it has been 3600 s or 1 h.',
 'from index 29976 on, it has been 3600 s or 1 h.',
 'from index 32732 on, it has been 3600 s or 1 h.',
 'from index 32875 on, it has been 3600 s or 1 h.',
 'from index 42737 on, it has been 3600 s or 1 h.',
 'from index 85886 on, it has been 3600 s or 1 h.',
 'from index 144752 on, it has been 3600 s or 1 h.',
 'from index 154733 on, it has been 3600 s or 1 h.',
 'from index 155426 on, it has been 3600 s or 1 h.',
 'from index 155548 on, it has been 3600 s or 1 h.']

In [54]:
print(indices)
check

[(8879, 2592300), (23741, 600), (28750, 600), (75753, 600), (76916, 600), (173184, 600), (179819, 600), (179831, 600), (179849, 600), (179852, 600), (179858, 600), (179870, 600), (179873, 1200), (179892, 600), (190312, 600), (190316, 600), (190362, 600), (196113, 600), (196404, 900), (196405, 600), (197229, 600), (197232, 600), (197266, 600), (201290, 600), (239428, 600), (256441, 600), (490105, 600), (515339, 1500), (793820, 600), (794497, 600), (818962, 600), (868534, 600), (887404, 600), (925535, 600), (925538, 600), (928129, 600), (928146, 600), (928152, 600), (928416, 600), (928418, 600), (928697, 600), (932580, 600), (933317, 600), (933323, 600)]

['from index 8879 on, it has been 2592300 s or 720 h.',
 'from index 23741 on, it has been 600 s or 0 h.',
 'from index 28750 on, it has been 600 s or 0 h.',
 'from index 75753 on, it has been 600 s or 0 h.',
 'from index 76916 on, it has been 600 s or 0 h.',
 'from index 173184 on, it has been 600 s or 0 h.',
 'from index 179819 on, it has been 600 s or 0 h.',
 'from index 179831 on, it has been 600 s or 0 h.',
 'from index 179849 on, it has been 600 s or 0 h.',
 'from index 179852 on, it has been 600 s or 0 h.',
 'from index 179858 on, it has been 600 s or 0 h.',
 'from index 179870 on, it has been 600 s or 0 h.',
 'from index 179873 on, it has been 1200 s or 0 h.',
 'from index 179892 on, it has been 600 s or 0 h.',
 'from index 190312 on, it has been 600 s or 0 h.',
 'from index 190316 on, it has been 600 s or 0 h.',
 'from index 190362 on, it has been 600 s or 0 h.',
 'from index 196113 on, it has been 600 s or 0 h.',
 'from index 196404 on, it has been 900 s or 0 h.',
 'from index 196405 on, it has been 600 s or 0 h.',
 'from index 197229 on, it has been 600 s or 0 h.',
 'from index 197232 on, it has been 600 s or 0 h.',
 'from index 197266 on, it has been 600 s or 0 h.',
 'from index 201290 on, it has been 600 s or 0 h.',
 'from index 239428 on, it has been 600 s or 0 h.',
 'from index 256441 on, it has been 600 s or 0 h.',
 'from index 490105 on, it has been 600 s or 0 h.',
 'from index 515339 on, it has been 1500 s or 0 h.',
 'from index 793820 on, it has been 600 s or 0 h.',
 'from index 794497 on, it has been 600 s or 0 h.',
 'from index 818962 on, it has been 600 s or 0 h.',
 'from index 868534 on, it has been 600 s or 0 h.',
 'from index 887404 on, it has been 600 s or 0 h.',
 'from index 925535 on, it has been 600 s or 0 h.',
 'from index 925538 on, it has been 600 s or 0 h.',
 'from index 928129 on, it has been 600 s or 0 h.',
 'from index 928146 on, it has been 600 s or 0 h.',
 'from index 928152 on, it has been 600 s or 0 h.',
 'from index 928416 on, it has been 600 s or 0 h.',
 'from index 928418 on, it has been 600 s or 0 h.',
 'from index 928697 on, it has been 600 s or 0 h.',
 'from index 932580 on, it has been 600 s or 0 h.',
 'from index 933317 on, it has been 600 s or 0 h.',
 'from index 933323 on, it has been 600 s or 0 h.']

In [96]:
print(df_trading_price_corr.PeriodID.max())
print(df_trading_price_corr.PeriodID.min())

2018-07-31 23:30:00
2009-07-01 04:00:00

In [97]:
df_trading_price_corr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157804 entries, 0 to 157803
Data columns (total 2 columns):
PeriodID         157804 non-null datetime64[ns]
Trading_price    157804 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 2.4 MB

In [98]:
df_trading_dispatch.loc[:,["Dispatch_price"]].iloc[:5,:].agg(['mean', 'max','min'])

      Dispatch_price
mean        72.07581
max         76.44245
min         69.24109

In [11]:
#bin_column = df_grouped_price.loc[:,"Price"]
#bin_size = 6

def bin_sums(df, col, bin_size):
    '''
    table=table_of_interest
    col="col_of_interest"
    bin_size=number of rows (int) over which the function shall sum up values for each bin
    '''
    bin_sums = []
    count = 0
    for i in df.index:
        if count >= len(df):
            break
        j = count + bin_size
        bin_sum = sum(df[col].iloc[count:j])/6
        count += bin_size
        bin_sums.append(bin_sum)
    return bin_sums

In [12]:
bin_sums = bin_sums(df_grouped_price, "Price", 6)
bin_sums[0:20]

[72.08639333333333,
 49.86055999999999,
 76.524205,
 81.65568999999999,
 83.24851333333334,
 85.84831833333332,
 111.708505,
 104.13424166666665,
 105.17583333333333,
 137.99528666666666,
 162.3376966666667,
 228.120995,
 266.35031666666663,
 122.83904833333334,
 79.98045,
 57.78874666666667,
 30.63237666666667,
 23.110836666666668,
 27.005956666666666,
 -144.857895]

In [8]:
df = df_grouped_price
col = "Price"
bin_size = 6

bin_sums = []
count = 0
for i in df.index:
    if count >= len(df):
        break
    j = count + bin_size
    bin_sum = sum(df[col].iloc[count:j])/6
    print(count,j)
    count += bin_size
    bin_sums.append(bin_sum)
    if count > 60:
        break
        
bin_sums

0 6
6 12
12 18
18 24
24 30
30 36
36 42
42 48
48 54
54 60
60 66

[72.08639333333333,
 49.86055999999999,
 76.524205,
 81.65568999999999,
 83.24851333333334,
 85.84831833333332,
 111.708505,
 104.13424166666665,
 105.17583333333333,
 137.99528666666666,
 162.3376966666667]

In [7]:
bin_sums = bin_sums(df_grouped_price, "Price", 6)

In [41]:
len(bin_sums) #make assert bin_sums == bla / 6 == len(df_trading_price)

157808

In [100]:
df_trading_price_corr["Averaged_dispatch"] = pd.DataFrame(data=bin_sums)
print(len(df_trading_price_corr[df_trading_price_corr.Averaged_dispatch.isna()]))
print(df_trading_price_corr[df_trading_price_corr.Averaged_dispatch.isna()]["PeriodID"].max())
print(df_trading_price_corr[df_trading_price_corr.Averaged_dispatch.isna()]["PeriodID"].min())
df_trading_price_corr.head()

#assert!!!

0
NaT
NaT

             PeriodID  Trading_price  Averaged_dispatch
0 2018-07-31 23:30:00          72.09          72.086393
1 2018-07-31 23:00:00          49.86          49.860560
2 2018-07-31 22:30:00          76.52          76.524205
3 2018-07-31 22:00:00          81.66          81.655690
4 2018-07-31 21:30:00          83.25          83.248513

In [101]:
df_trading_price_corr.iloc[3900:3905]

                PeriodID  Trading_price  Averaged_dispatch
3900 2018-04-11 17:30:00          90.41          90.408912
3901 2018-04-11 17:00:00          97.45          97.448663
3902 2018-04-11 16:30:00         113.16         113.161830
3903 2018-04-11 16:00:00         101.57         101.573470
3904 2018-04-11 15:30:00          91.75          91.749495

In [104]:
print("A share of {} % of trading price and averaged dipatch mismatch over the first 3900 iterations."\
      .format(round((((sum(abs(df_trading_price_corr.Trading_price.iloc[:3900]\
          - df_trading_price_corr.Averaged_dispatch.iloc[:3900]) > 0.01))/3900)*100), 3)))

A share of 0.077 % of trading price and averaged dipatch mismatch over the first 3900 iterations.

In [54]:
meh.set_index("PeriodID", inplace=True)
meh.index = pd.to_datetime(meh.index)

In [60]:
import datetime as dt
import pytz
meh.index.tz_convert(tz=pytz.FixedOffset(300))

DatetimeIndex(['2015-06-23 08:40:00+05:00', '2015-06-23 08:40:00+05:00',
               '2015-06-23 08:40:00+05:00', '2015-06-23 08:40:00+05:00',
               '2015-06-23 10:00:00+05:00', '2015-06-23 10:00:00+05:00',
               '2015-06-23 10:00:00+05:00', '2015-06-23 10:00:00+05:00',
               '2015-06-23 10:00:00+05:00', '2015-06-23 10:00:00+05:00',
               ...
               '2012-01-11 20:25:00+05:00', '2012-01-11 20:25:00+05:00',
               '2012-01-11 20:25:00+05:00', '2012-01-11 20:25:00+05:00',
               '2012-01-11 07:45:00+05:00', '2012-01-11 07:45:00+05:00',
               '2012-01-11 07:45:00+05:00', '2012-01-11 07:45:00+05:00',
               '2012-01-11 07:45:00+05:00', '2012-01-11 07:45:00+05:00'],
              dtype='datetime64[ns, pytz.FixedOffset(300)]', name='PeriodID', length=5951880, freq=None)