In [4]:
import pandas as pd
import numpy as np
import os

import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
marginal_costs = np.array([np.ones(6)*400, np.ones(5)*2000, np.ones(3)*5000, 
                           np.ones(2)*3000, np.ones(3)*4000, np.ones(1)*5000, np.ones(3)*3000])
marginal_costs

array([[5., 5., 5., 5., 5.]])

In [ ]:
costs_generator = pd.DataFrame(index=)

In [12]:
file_path = '{}/nem-data/nemde_clean/df_DUID_CO2_mean.pkl'.format(os.environ['HOME'])
df = pd.read_pickle(file_path)
df.rename(columns={"CO2E_EMISSIONS_FACTOR":"t CO2-e / MWh"}, inplace=True)
df = df.sort_index()
df.drop(columns=["Price"], inplace=True)
df.iloc[-20:]

                     t CO2-e / MWh
2019-08-01 02:20:00       0.573436
2019-08-01 02:25:00       0.380340
2019-08-01 02:30:00       0.570054
2019-08-01 02:35:00       0.570054
2019-08-01 02:40:00       0.573436
2019-08-01 02:45:00       0.573436
2019-08-01 02:50:00       0.459168
2019-08-01 02:55:00       0.000000
2019-08-01 03:00:00       0.456409
2019-08-01 03:05:00       0.573436
2019-08-01 03:10:00       0.573436
2019-08-01 03:15:00       0.573436
2019-08-01 03:20:00       0.573436
2019-08-01 03:25:00       0.000000
2019-08-01 03:30:00       0.573436
2019-08-01 03:35:00       0.573436
2019-08-01 03:40:00       0.573436
2019-08-01 03:45:00       0.573436
2019-08-01 03:50:00       0.456409
2019-08-01 03:55:00       0.380340